*.out
/build
/bld_dos
/bld_psx
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/cmake-variants.yaml
tools/dosbox.conf
assets/scenes/scratc*.lsp
assets/**/scratch/*
